<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.tunevault" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TuneVault</name>
    <description>A premium music player for offline songs.</description>
    <author email="your.email@example.com">Your Name</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AndroidPersistentFileLocation" value="Internal" />
    </platform>
    <preference name="Orientation" value="portrait" />
</widget>